.back_btn {
  background-color: transparent;
  border: none;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: #EAE4ED;
  }
}
