$light-violet: #EAE4ED; 
$dark-violet: #5A007E; 
$black: #2E1239; 
$grey: #F0EFEF;
$ligth-grey: #F9F9F9;
$grey-text: #7A6981;
$pink: #F9F7FA;
$wierd-violet: #D6CED9;
$blue: #0077FF;
$light-blue: #8FC9FF;
